/* ----- FIVE CODE ----- */

.list-category{
    font-size: 2.5em;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    margin-bottom: 10px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 15px;
}
.list-items li{
    font-size: 1em;
    list-style: none;
    color: hsl(0, 0%, 30%);
    margin: 0;
}
.list-items li:hover{
    color: hsl(0, 0%, 20%) ;
    cursor: pointer;
} 